.family-cookbook {
  border: 2px solid#38373F;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  height: 16em;
  width: 12em;
  font-size: 20px;
}
