.family-cookbook {
  /* border: 2px solid#4E615D; */
  display: flex;
  flex-direction: column;
  align-items: center;
  /* border-radius: 4px; */
  transition: transform 0.4s;
  background-image: url('../../assets/red-book.png');
  background-size: cover;
  height: 22vh;
  width: 10vw;
  transform: rotate(12deg);
}

.family-cookbook h3 {
  font-size: 1.3em;
  transform: rotate(-17deg);
  width: 8vw;
  text-align: center;
  color: #fcf0e1;
  position: relative;
  top: 3vh;
  right: 0.7vw;
}

.family-cookbook:hover {
  transform: scale(1.07);
}

.family-cookbook img {
  width: 50%;
}
