.cookbook-form {
  border: 2px solid #38373F;
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  height: 16em;
  width: 12em;
  font-size: 20px;
}

.cookbook-form input {
  padding: .7em;
  margin-bottom: 2em;
  font-size: 16px;
}

.cookbook-form button {
  padding: 1em 1.6em;
  color: white;
  border-radius: 3px;
  background-color: #38373F;
  font-size: 14px;
}

