.cookbook-form {
  border: 2px solid #4e615d;
  padding: 0 1em 1em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  font-size: 20px;
  background-color: #e3d9ca;
  text-align: center;
  width: 27em;
  margin-left: 33%;
  margin-bottom: 1em;
}

.cookbook-form input {
  padding: 0.7em;
  margin: 20px auto;
  font-size: 16px;
}

.cookbook-form button {
  border-radius: 3px;
  background-color: #fff;
  font-size: 1.2em;
  font-family: Standard;
  padding: 10px 20px;
  border: 2px solid #8b4513;
  color: #8b4513;
  margin: 20px auto;
  text-decoration: none;
}

.cookbook-form button:hover {
  transform: scale(1.02);
}

.cookbook-form-child {
  width: 25em;
  display: flex;
}