.recipe-page-background {
  background: url('../../assets/knife-cutting-board.jpg');
  background-size: cover;
}

.recipe-page-paper {
  position: relative;
  width: 90%;
  max-width: 800px;
  min-width: 400px;
  height: 87vh;
  margin: 0 auto;
  background: #eee9e0;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  transform: rotate(-10deg);
  top: 3vh;
  box-shadow: 3px 3px 6px 4px grey;
}

.recipe-page-paper:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 60px;
  background: radial-gradient(#575450 6px, transparent 7px) repeat-y;
  background-size: 30px 30px;
  border-right: 3px solid #d44147;
  box-sizing: border-box;
}

.recipe-page-content {
  position: absolute;
  top: 30px;
  right: 0;
  bottom: 30px;
  left: 60px;
  background: linear-gradient(transparent, transparent 28px, #91d1d3 28px);
  background-size: 30px 30px;
}

.recipe-page-content .recipe-text {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  line-height: 30px;
  padding: 0 10px;
  border: 0;
  outline: 0;
  background: transparent;
  font-weight: bold;
  font-size: 18px;
  box-sizing: border-box;
  z-index: 1;
  overflow-y: scroll;
}

.recipe-instructions {
  font-size: 14px;
}

.recipe-page-paper p,
.recipe-page-content h1 {
  margin: 0;
}
